/* -----------------------------
   Gruvbox Color Definitions
----------------------------- */

@define-color background rgba(40, 40, 40, 0.9);              /* #282828 */
@define-color groupbackground rgba(40, 40, 40, 0.9);         /* #282828 */
@define-color buttoncolor rgba(124, 111, 100, 0.9);          /* #7c6f64 */
@define-color bordercolor rgba(80, 73, 69, 0.9);              /* #504945 */
@define-color fontcolor rgb(212, 190, 152);                   /* #d4be98 */
@define-color on_secondary rgb(40, 40, 40);                   /* contrast for buttoncolor */

* {
    font-family: "JetBrains Mono Nerd Font";
}

/* -----------------------------
   Control Center Styling
----------------------------- */

.control-center {
    background: @background;
    color: @fontcolor;
    border-radius: 10px;
    border: 3px solid @bordercolor;
    padding: 10px;
}

.control-center-list-placeholder {
    opacity: 0.5;
}

.control-center-list {
    background: transparent;
}

.notification-group-buttons,
.notification-group-headers,
.notification-group-header,
.notification-group-icon {
    color: @fontcolor;
}

.widget-title {
    color: @fontcolor;
    margin: 8px;
    font-size: 16px;
}

.widget-title > button {
    font-size: 16px;
    color: @fontcolor;
    background: @groupbackground;
    border: 1px solid @buttoncolor;
    border-radius: 10px;
}

.widget-title > button:hover {
    background: @bordercolor;
}

.widget-dnd {
    color: @fontcolor;
    margin: 8px;
    font-size: 16px;
}

.widget-dnd > switch {
    border-radius: 10px;
    background: @groupbackground;
    border: 1px solid @buttoncolor;
}

.widget-dnd > switch:checked {
    background: rgba(231, 138, 78, 0.9); /* Gruvbox orange */
}

.widget-dnd > switch slider {
    background: @background;
    border-radius: 10px;
}

.widget-volume,
.widget-backlight {
    color: @fontcolor;
    /* background-color: rgba(60, 56, 54, 0.95);  */
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
}

/* -----------------------------
   Notification Styling
----------------------------- */

.notification-row {
    outline: none;
}

.notification-background {
    padding: 10px 6px;
}

.notification {
    border: 2px solid @bordercolor;
    background: @background;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: */
    /*     0 0 0 1px rgba(37, 36, 35, 0.3), */
    /*     0 1px 3px 1px rgba(37, 36, 35, 0.7), */
    /*     0 2px 6px 2px rgba(37, 36, 35, 0.3); */
}

.notification-content {
    background: transparent;
    border-radius: 10px;
    padding: 4px;
}

.notification-default-action,
.notification-action {
    padding: 4px;
    margin: 0;
    background: transparent;
    color: @fontcolor;
    border: none;
}

.notification-default-action:hover,
.notification-action:hover {
    background: @bordercolor;
}

.notification-action {
    border-top: 1px solid @bordercolor;
    border-right: 1px solid @bordercolor;
    border-radius: 0;
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    border-right: none;
}

/* ----------------------
   Inline Reply Elements
---------------------- */

.inline-reply {
    margin-top: 4px;
}

.inline-reply-entry {
    background: @bordercolor;
    color: @fontcolor;
    caret-color: @fontcolor;
    border: transparent;
    border-radius: 10px;
}

.inline-reply-button {
    margin-left: 4px;
    background: transparent;
    border: 1px solid @buttoncolor;
    border-radius: 10px;
    color: @fontcolor;
}

.inline-reply-button:disabled {
    background: transparent;
    color: @buttoncolor;
    border-color: transparent;
}

.inline-reply-button:hover {
    background: @bordercolor;
}

/* ------------------------------
   Other Notification Components
------------------------------ */

.close-button {
    background: transparent;
    color: @fontcolor;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    background: @bordercolor;
}

.image {
    -gtk-icon-effect: none;
    border-radius: 10px;
    margin: 4px;
}

.app-icon {
    -gtk-icon-effect: none;
    -gtk-icon-shadow: 0 1px 4px black;
    margin: 6px;
}

.summary,
.time,
.body {
    font-size: 14px;
    font-weight: normal;
    background: transparent;
    color: @fontcolor;
}

.summary,
.time {
    font-weight: bold;
    font-size: 16px;
}

.body-image {
    margin-top: 4px;
    background-color: white;
    border-radius: 10px;
    -gtk-icon-effect: none;
}

/* -----------------------------
   Buttons Grid
----------------------------- */

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 5px;
}

/* -----------------------------
   Buttons
----------------------------- */

button {
    border: 0px;
    min-width: 35px;
    background: @buttoncolor;
    color: @on_secondary;
}
